@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

.main {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

.background {
  width: 483px;
  height: 100vh;
  background-image: url('./Source/assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  left: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 527px;
  width: 541px;
}

.frontCard {
  background-image: url(./Source/assets/frontImg.svg);
  height: 245px;
  width: 447px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding-left: 32px;
  align-self: flex-start;
}

.cardNumber {
  height: 36px;
  width: 385px;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3.42px;
  color: white;
  padding-top: 10px;
}

.cardName {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.month,
.year,
.cvc {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.cardExp {
  display: flex;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  width: 383px;
}

.backCard {
  background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
  height: 245px;
  width: 447px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  align-self: flex-end;
}

.backHeader {
  width: 447px;
  height: 54px;
  background-color: #2F2F2F;
}

.cvc {
  width: 361px;
  height: 38px;
  background-color: #ADB5BE;
  text-align: end;
  padding-top: 10px;
  padding-right: 5px;

}


.input {
  display: flex;
  width: 381px;
  height: 352px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footerInput {
  display: flex;
  justify-content: space-between;
  width: 381px;
}

.expDate {
  display: flex;
  gap: 10px;
}

.expDate1 {
  display: flex;
  flex-direction: column;
}

.cvcSide {
  display: flex;
  flex-direction: column;
}

.expInput {
  width: 80px;
  height: 45px;
  border-radius: 8px;
  border-width: 1px;
  background: #FFFFFF;
  border: 1px solid #DFDEE0;
  color: #21092F;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

.cvcInput {
  border-radius: 8px;
  border-width: 1px;
  background: #FFFFFF;
  border: 1px solid #DFDEE0;
  color: #21092F;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  height: 45px;
  width: 191px;
  padding-left: 16px;
  padding-right: 16px;
}

.inputText {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #21092F;
  padding-bottom: 9px;
}

.nameInput,
.numberInput {
  width: 381px;
  height: 45px;
  border: 1px solid #DFDEE0;
  background: #FFFFFF;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
}

input::target-text {
  opacity: 0.25;
}

button {
  width: 381px;
  height: 53px;
  border-radius: 8px;
  background-color: #21092F;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: white;
   transition: all 0.3s ease;
}

.errorDesign {
  font-size: 12px;
  color: red;
  margin-top: 8px;
}

.afterSubmit {
  height: 291px;
  width: 381px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.thankSubmit {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3.42px;
  text-align: center;
  color: #21092F;
}

.opacitySubmit {
  font-weight: 500;
  font-size: 18px;
  color: #8F8694;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.95;
  cursor: pointer;
}

.respcircle {
  display: none;
}

@media (max-width: 1000px) {

  body {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    }

  .main {
    flex-direction: column;
    max-width: 100%;
  }

  .background {
    width: 100vw;
    height: 30vh;
    top: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 527px;
    width: 100%;
    max-width: 541px;
    padding-top: 32px;
  }

  .frontCard {
    position: absolute;
    z-index: 100;
    top: 182px;
    max-width: 100%;
  }

  .input {
    height: 472px;
    display: flex;
    padding-bottom: 32px;
    width: 100%;
  }
}

@media (max-width: 600px) {

  .cards {
    height: 251px;
    width: 343px;
    padding-top: 16px;
  }

  .frontCard {
    position: absolute;
    height: 156px;
    width: 285px;
    padding-left: 19px;
    top: 160px;
  }

  .cardNumber {
  height: 23px;
  width: 293px;
  font-size: 18px;
  letter-spacing: 2.2px;
  padding-top: 10px;
}

.cardName {
  font-size: 9px;
  letter-spacing: 1.29px;
}

.month,
.year,
.cvc {
  font-size: 9px;
  letter-spacing: 1.29px;
}

.cardFooter {
  width: 240px;
}

.circles {
  display: none;
}

.respcircle {
  display: flex;
}

.backCard {
  height: 156px;
  width: 285px;
}

.backHeader {
  width: 286px;
  height: 34px;
  background-color: #2F2F2F;
}

.cvc {
  width: 230px;
  height: 29px;
}


.input {
  width: 327px;
  height: 388px;
}

.footerInput {
  width: 327px;
}

.expDate {
  gap: 8px;
}

.expInput {
  width: 72px;
}

.cvcInput {
  width: 164px;
}

.nameInput,
.numberInput {
  width: 327px;
}



button {
  width: 327px;
  height: 53px;
}

.afterSubmit {
  height: 291px;
  width: 381px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.thankSubmit {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3.42px;
  text-align: center;
  color: #21092F;
}

.opacitySubmit {
  font-weight: 500;
  font-size: 18px;
  color: #8F8694;
}

}